body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('bg.jpeg'); /* Add your background image path here */
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Makes the image circular */
  overflow: hidden; /* Ensures the image stays within the circular shape */
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}